
.rectangle26{
    position: absolute;
    width: 100%;
    height: 162px;
    left: 0px;
    top: 120px;
    background: whitesmoke;
    box-shadow: 4px -18px 172px -11px rgba(81,191,83,0.35);
    -webkit-box-shadow: 4px -18px 172px -11px rgba(81,191,83,0.35);
    -moz-box-shadow: 4px -18px 172px -11px rgba(81,191,83,0.35);
}

textarea:focus, input:focus{
    outline: none;
}

.rectangle26 > h1{
    position: absolute;
    width: 80rem;
    height: 102px;
    left: 2em;
    top: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(84, 161, 86, 0.911);
}
.oleodecozinha{
    position: absolute;
    width: 458px;
    height: 258px;
    left: 780px;
    top: 25em;
    border-radius: 10px;
    background:  white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.plastico{
    position: absolute;
    width: 458px;
    height: 258px;
    left: 130px;
    top: 25em;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.plastico > h2{
    position: absolute;
    width: 248px;
    height: 40px;
    left: 106px;
    top: -68px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
}

.plastico > h2 > p {
    
    color: #097300;
    font-weight: 500;
    margin-left: 61px;
    margin-top: 0.3em;
}
.oleodecozinha > h2{
    position: absolute;
    width: 261px;
    height: 40px;
    left: 106px;
    top: -68px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
}
.oleodecozinha > h2 > p{
    color: #097300;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 8px;
}
.plastico > h3{
    position: absolute;
    width: 301px;
    height: 57px;
    left: 119px;
    top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: rgba(84, 161, 86, 0.911);
}
.oleodecozinha > h3{
    position: absolute;
    width: 297px;
    height: 57px;
    left: 132px;
    top: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: rgba(84, 161, 86, 0.911);
}
.oleodecozinha > input{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 306px;
    height: 70px;
    left: 132px;
    top: 93px;
    background: #FFFFFF;
    border: 1px solid rgba(84, 161, 86, 0.911);
}
.plastico > input{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 306px;
    height: 70px;
    left: 116px;
    top: 93px;
    background: #FFFFFF;
    border: 1px solid rgba(84, 161, 86, 0.911);
}
.plastico > button{
    position: absolute;
    width: 81px;
    height: 27px;
    left: 340px;
    top: 210px;
    background: rgba(84, 161, 86, 0.911);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 600;
    padding-left: 0.5em;
    font-family: 'Montserrat';
    border: none;
}

.oleodecozinha > button{
    position: absolute;
    width: 81px;
    height: 27px;
    left: 348px;
    top: 210px;
    background: rgba(84, 161, 86, 0.911);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    padding-left: 0.5em;
    border: none;
}

/*muda a cor do botão deixa?*/
button:hover{
    background-color: rgba(64, 137, 66, 0.973);
    transition: 1s;
    color: white;

}
.plastico > img{
    position: absolute;
    width: 116px;
    height: 91px;
    left: 0px;
    top: 72px;

    background: url(image.png);
}
.oleodecozinha > img{
    position: absolute;
    width: 91px;
    height: 91px;
    left: 17px;
    top: 72px;

    background: url(image.png);
}







