/*CSS DOS ELEMENTOS ÚNICOS DA PÁGINA DE COMENTÁRIOS*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

input:focus{
    outline: none;
}
/*IMAGEM DOS COMENTÁRIOS*/
.img-coments img{
    width: 400px;
    margin-left: 90px;
    margin-top: 70px;
}

/*FORMULÁRIO DOS COMENTÁRIOS*/

.coments{
    position: absolute;
    border: 1px solid black;
    width: 612px;
    height: 374px;
    left: 48%;
    top: 22%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#name-label,
#comentario-label{
    color: rgba(52, 154, 57, 0.61);
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

#username,
#coments-box{
    margin-left: 30px;
    margin-top: 5px;
}