/*CSS DOS ELEMENTOS PRESENTES EM TODAS AS PÁGINAS*/
/*ESTILIZAÇÃO DA BARRA NAV PRESENTE EM TODAS AS PÁGINAS*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
}

.navigation-bar,
.button-user{
    display: flex;
    align-items: center;
}
.navigation-bar{
    width: 100%;
    background-color: rgba(64, 137, 67, 0.84);
    height: 3.2em;
    justify-content: space-between;
    
}

.logo{
    width: 5.5rem;
    margin-top: 0.2rem;
    margin-left: 2rem;
}

#button-user a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    margin-right: 2rem;
    font-weight: normal;
    text-decoration: none;
}

.navigation-bar-2,
.nav-buttons{
    display: flex;
    align-items: center;
}

.nav-buttons a{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    margin-right: 2rem;
    color: black;
    text-decoration: none;
}

.nav-buttons a:hover{
    color: rgba(39, 107, 41, 0.911);
    transition: 1s;
}



